# ================================
# Kavir_RAG – app-level deps (CLI)
# ================================

# text & file handling
pandas==2.2.2
chardet==5.2.0
python-docx==1.1.2
pypdf==4.2.0

# progress & utils
tqdm==4.66.4
